#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #2c3e50;
  margin-top: 60px;
}

p {
  font-weight: bold;
  margin-top: 40px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
